.wid {
  position: absolute;
  width: 30%;
  color: rgb(255, 255, 255);
}
.Background-color {
  background-color: #252525;
  height: 100%;
}
.bc {
  color: whitesmoke;
}
.ubg {
  color: whitesmoke;
}
