.taskbar {
  background-color: rgb(197, 189, 189);
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12%;
  z-index: 1;
}

.logo-image {
  position: relative;
  width: 35px;
  height: auto;
  left: 85%;
}

.user-logo {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 90%;
  margin-top: -1.5%;
}

.user-name {
  font-size: 14px;
  font-weight: bold;
  margin-top: -1.5%;
}
.heading {
  position: absolute;
  font-size: 100%;
  left: 8%;
  font-size: 100%;
  top: 18%;
  font-style: oblique;
  color: rgb(5, 5, 5);
}
.title-logo {
  position: absolute;
  width: 15%;
  left: -3.8%;
  top: 13%;
}
.line {
  position: absolute;
  left: 4.5%;
  top: 15%;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.grid-item {
  text-align: center;
}
.subscription {
  position: absolute;
  left: 60%;
  top: 25%;
  font-size: 100%;
  color: rgb(62, 108, 173);
}
.sub {
  position: absolute;
  left: 115%;
  top: 30%;
  font-size: 70%;
}
.log {
  position: absolute;
  left: 78%;
  top: 25%;
  font-size: 100%;
  color: rgb(61, 108, 174);
}
.logicon {
  position: absolute;
  left: 115%;
  top: 30%;
  font-size: 70%;
}
.menuword {
  position: absolute;
  left: 88%;
  top: 25%;
  font-size: 100%;
  color: rgb(61, 108, 174);
}
.menu {
  position: absolute;
  left: 115%;
  top: 30%;
}
.sammenu {
  position: absolute;
  left: 40%;
  top: 40%;
  display: flex;
}
.Hp {
  color: black;
}
.Vp {
  color: black;
}
.Tp {
  color: black;
}

.MuiButton-textSizeMedium {
  position: absolute !important;
  top: 25px !important;
  left: 30px !important;
  /* background-color: blue !important; */
}
